/*
*	RESET
*/
*{
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

*:after,
*:before {
	box-sizing: border-box;
}

/*
*	GLOBAL
*/
html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a.close {
	background-color: rgb(204,204,204);
	border-radius: 50%;
	color: rgb(255,255,255);
	display: block;
	font-family: 'Varela Round', sans-serif;
	font-size: .8em;
	padding: .2em .5em;
	position: absolute;
	top: 1.25rem;
	transition: all 400ms ease;
	right: 1.25rem;
}
	
	a.close:hover {
		background-color: #1bc5b3;
		cursor: pointer;
	}

/*
*	LOG-IN BOX
*/
div.overlay {
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

	div.overlay > div.login-wrapper {
		align-self: center;
		background-color: rgba(0,0,0,.25);
		border-radius: 2px;
		padding: 6px;
		width: 450px;
	}
	
		div.overlay > div.login-wrapper > div.login-content {
			background-color: rgb(255,255,255);
			border-radius: 2px;
			padding: 24px;	
			position: relative;
		}
		
			div.overlay > div.login-wrapper > div.login-content > h3 {
				color: rgb(0,0,0);
				font-family: 'Varela Round', sans-serif;
				font-size: 1.8em;
				margin: 0 0 1.25em;
				padding: 0;
			}
/*
			
*/
/*div.overlay > div.upload-wrapper {
	align-self: center;
	background-color: rgba(0,0,0,.25);
	border-radius: 2px;
	padding: 6px;
	width: 400px;
	height:500px;
    overflow: scroll;
}

div.overlay > div.upload-wrapper > div.upload-content {
	background-color: rgb(255,255,255);
	border-radius: 2px;
	padding: 24px;
	position: relative;
	height:490px;
}*/

/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color: #2E3134;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    width:400px;
	height:400px;
    border-radius:3px;

		
	align-self: center;
/*    margin:200px auto 100px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('assets/img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
	height:400px;
	overflow-y: auto;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:10px -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;
	
	box-sizing: content-box; 
	

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}


/*
*	FORM
*/
form label {
	color: rgb(0,0,0);
	display: block;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.25em;
	margin: .75em 0;	
}

	form input[type="text"],
	form input[type="email"],
	form input[type="number"],
	form input[type="search"],
	form input[type="password"],
	form textarea {
		background-color: rgb(255,255,255);
		border: 1px solid rgb( 186, 186, 186 );
		border-radius: 1px;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
		display: block;
		font-size: .65em;
		margin: 6px 0 12px 0;
		padding: .8em .55em;	
		text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
		transition: all 400ms ease;
		width: 90%;
	}
	
	form input[type="text"]:focus,
	form input[type="email"]:focus,
	form input[type="number"]:focus,
	form input[type="search"]:focus,
	form input[type="password"]:focus,
	form textarea:focus,
	form select:focus { 
		border-color: #4195fc;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
	}
	
		form input[type="text"]:invalid:focus,
		form input[type="email"]:invalid:focus,
		form input[type="number"]:invalid:focus,
		form input[type="search"]:invalid:focus,
		form input[type="password"]:invalid:focus,
		form textarea:invalid:focus,
		form select:invalid:focus { 
			border-color: rgb(248,66,66);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
		}
	
form button {
	background-color: #50c1e9;
	border: 1px solid rgba(0,0,0,.1);
	color: rgb(255,255,255);
	font-family: 'Varela Round', sans-serif;
	font-size: .85em;
	padding: .55em .9em;
	transition: all 400ms ease;	
}

	form button:hover {
		background-color: #1bc5b3;
		cursor: pointer;
	}
	

.container
{
	width: 100%;
	max-width: 64rem; /* 1024 */
	font-size: 0.875rem; /* 14 */
	line-height: 1.375rem; /* 22 */
	margin: 0 auto;
	padding: 0.625rem; /* 10 */
}

.container,
.container a
{
	color: #3D9DB3;
    text-decoration: none;
}
.container a:hover
{
	color: rgba(49, 171, 200, 1);
}
.footer
{
	text-align: center;
	color: #000000;
}

.footer a {
	color: #3D9DB3;
}
.footer a:hover
{
	color: rgba(49, 171, 200, 1);
}

h1
{
	font-size: 2.5rem; /* 40 */
	font-weight: 300;
	line-height: 2.875rem; /* 46 */
	text-align: center;
	margin-bottom: 2.5rem; /* 40 */
}

.list
{
	width: 100%;
	overflow: hidden;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.list__item
{
	width: 20%;
	float: left;
	padding: 0.625rem; /* 10 */

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.list__item__inner
{
	width: 100%;
	color: #474d51;
	background-color: #fff;
	overflow: hidden;

	-webkit-box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); /* 2 5 */
	box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); /* 2 5 */
}
.list__item img
{
	width: 100%;
	display: block;
}
.list__item figcaption
{
	padding: 1.25rem; /* 20 */
}

.list__item figcaption img
{
	width:30px;
	height:30px;
}


/* JavaScript disabled */

html.no-js .list__item
{
	width: 100%;
	float: none;
}
html.no-js .list__item img
{
	max-width: 9.375rem; /* 150 */
	float: right;
	margin-left: 1.25rem; /* 20 */
}

@supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )
{
	html.no-js .list__item
	{
		width: 20%;
		float: left;
	}
		html.no-js .list__item img
		{
			max-width: none;
			float: none;
			margin-left: 0;
		}
}


@media screen and ( max-width: 64em ) /* 1024 */
{
	body
	{
		padding: 2.5rem 0; /* 40 */
	}
}

@media screen and ( max-width: 50em ) /* 800 */
{
	.list__item
	{
		width: 33.333%; /* 3 items per row */
	}
	@supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )
	{
		html.no-js .list__item
		{
			width: 33.333%;
		}
	}
}

@media screen and ( max-width: 40em ) /* 640 */
{
	.list__item
	{
		width: 50%; /* 2 items per row */
	}
	@supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )
	{
		html.no-js .list__item
		{
			width: 50%;
		}
	}
}

@media screen and ( max-width: 20em ) /* 320 */
{
	.list__item
	{
		width: 100%; /* 1 item per row */
		float: none;
	}
		@supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )
		{
			html.no-js .list__item
			{
				width: 100%;
			}
		}
		html.no-js .list__item img
		{
			max-width: none;
			float: none;
			margin-left: 0;
		}
}
	